default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: <%= ENV['MESS_MANAGEMENT_DATABASE_USER'] %>
  password: <%= ENV['MESS_MANAGEMENT_DATABASE_PASSWORD'] %>

production:
  <<: *default
  database: mess_management_production
  username: <%= ENV['MESS_MANAGEMENT_DATABASE_USER'] %>
  password: <%= ENV['MESS_MANAGEMENT_DATABASE_PASSWORD'] %>
